// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
//body {
//  padding-top: 70px;
//}

.blurred-container {
  height: 200px;

  .img-src {
    height: 200px;
  }
}

.intro-container {
  padding: 20px 0px;
  background-color: lightskyblue;
  position: relative;
}

.main {
  padding-top: 70px;
  .flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex: 1 0 auto;
  }
}

.auth-box {
  max-width: 500px;
}
