// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
//body {
//  padding-top: 70px;
//}

.blurred-container {
  height: 200px;

  .img-src {
    height: 200px;
  }
}

.main {
  padding-top: 70px;
}

.auth-box {
  max-width: 500px;
}
